@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Krona One', sans-serif;
}
.loginWrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3f3f3f76,#3f3f3f4f,#3f3f3f29,white,white);
}
.loginbox{
    display: flex;

    width: 75%;
    height: 800px;
    background: white;
    box-shadow: 10px 10px 10px #3f3f3f4f;
}
.loginimg{
    height: 100% ;
}
.boxright{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    /* padding: 5% 0; */
}
.form{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    align-items: center;
    /* justify-content: space-evenly; */
}
.formheading{
    font-size: 3.5vw;
}
.logininp{
    background: #D9D9D9 ;
    border: none;
    font-size: 1.2vw;
    border-radius: 2px;
    padding: 10px 20px;
    box-shadow: 8px 8px 10px #3f3f3f4f;
    
}
.logininp::after{
    background: #D9D9D9 ;
    border: none;
    font-size: 1.2vw;
    border-radius: 2px;
    padding: 10px 20px;
    /* box-shadow: 8px 8px 10px #3f3f3f4f; */
}
.button{
    background: #3F3F3F;
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    margin: 0 10px;
    border-radius: 8px;
    cursor:pointer;
    margin: 80px 0;
}
.inpdiv{
    margin: 20px 0;
}
