@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
    scrollbar-width: none;
}
a{
    text-decoration: none ;
}
a::after{
    text-decoration: none ;
}
::-webkit-scrollbar {
    display: none;
}

.logo{
    font-family: 'overpass';
    font-size: 40px;
}
.navbar{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 2vh 10px;
    position: sticky;
    z-index: 20;
    top: 0%;
    transition: background-color 0.3s ease-in-out;
}
.navbar.scrolled {
    background-color: #c6b4ff; /* Update with your desired background color */
}

.button{
    background: #3F3F3F;
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    box-shadow: #3f3f3f51 5px 5px;
    transition: all 0.5s;
}
.button:hover{
    box-shadow: #3F3F3F 0 0;
}
#getStartedbtn{
    box-shadow: #575151 5px 5px;
}
#getStartedbtn:hover{
    box-shadow: #575151 0px 0px;
}
.landingPage{
    display: flex;
    flex-direction: column;
    min-height: 150vh;
}
.landingUpper{
    background: linear-gradient(#d9d9d900,#D9D9D9,#000000);
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.FirstHeader{
    font-size: 4rem;
    margin: 0 0 30px 0;
    text-align: center;
}
.animated-text {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.animated-text-delay {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s; /* Adjust the delay as desired */
    animation-fill-mode: forwards;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.FirstPara{
    color: #3F3F3F;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 10vh 0;
}
.landingLower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background: #000000;
}
.landingLowertwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #000000;
}
.boxwrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    /* height: 100%; */
    /* background: aqua; */
}
.box{
    width: 350px;
    height: 350px;
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.boxdesc{
    width: 50%;
    margin: 20px 0;
    text-align: center;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}
#boxdesc1{
    transition-delay: 0;
}
#boxdesc2{
    transition-delay: 0.5s;
}
#boxdesc3{
    transition-delay: 1s;
}
.boximg{
    width: 200px;
}
.lowerheader{
    font-size: 3rem;
    color: white;
    margin: 0 0 15vh 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s;
    text-align: center;
}
.setone{
    display: flex;
    color: white;
    justify-content: center ;
    align-items: center;
    margin: 40px 0;
    transition: all 1s;
    flex-wrap: wrap;
}
.settwo{
    display: flex;
    color: white;
    justify-content: center ;
    align-items: center;
    margin: 40px 0;
    transition: all 1s;
    flex-wrap: wrap-reverse;
}
.setonepara{
    font-size: 1.6rem;
    width: 28%;
    margin-left: 5vw;
    transform: translate(-30vw);
    transition: all 1s;
}
.settwopara{
    font-size: 1.6rem;
    width: 28%;
    margin-right: 2vw;
    transform: translate(30vw);
    transition: all 1s;
}
.setoneimg, .settwoimg{
    width: 35rem;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
}
.contactfooter{
    display: flex;
    width: 100%;
    height: 300px;
    background: url('./assets/waves.svg');
}
.leftcontact{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: end; */
    align-items: end;
    width: 50%;
    height: 100%;
}
.rightcontact{
    display: flex;
    color: white;
    justify-content: end;
    align-items: end;
    width: 50%;
    height: 100%;
}
.contactimg{
    margin: 0 2vw;
    transition: all 0.5s;
}
.contactimg:hover{
    scale: 1.3;
    cursor: pointer;
}
.contactimgwrap{
    margin-bottom: 20px;
}
.calldetails{
    text-align: end;
    margin: 0 20px 2vh 0;
}
#contactUstext{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#phonenumber{
    font-size: 1rem;
}

@media (max-width:560px){
    .FirstHeader, .FirstPara, .lowerheader{
        scale: 0.8;
    }
    .logo, .leftnav{
        display: none;
    }
    .setone, .settwo{
        scale: 0.8;
    }
    .setoneimg, .settwoimg{
        scale: 0.8;
    }
    .setonepara, .settwopara{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .navbar{
        justify-content: space-around;
    }
}
@media (max-width:425px){
    .landingUpper{
        display: block;
    }
    .box{
        scale: 0.8;
    }
    /* #getStartedbtn{
        margin: 0 auto;
    } */
    .FirstHeader{
        scale: 0.5;
    }
    .lowerheader{
        scale: 0.5;
        margin: 0;
    }
    .FirstPara{
        display: none;
    }
    .setone, .settwo{
        scale: 0.6;
    }
    .setoneimg, .settwoimg{
        scale: 0.8;
    }
}