@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
    /* scrollbar-width: none; */
}
a{
    text-decoration: none ;
}
a::after{
    text-decoration: none ;
}
::-webkit-scrollbar {
    display: none;
}

.logo{
    font-family: 'overpass';
    font-size: 40px;
}
.navbar{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 2vh 10px;
    position: sticky;
    top: 0%;
}

.lgoutbutton{
    background: #DC0000;
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor:pointer;
}

.HirePage{
    display: flex;
    background: #D9D9D9;
    /* background-color: #DC0000; */
    min-height: 100vw;
    width: 100%;
}
.middleLayout{
    width: 80%;
    min-height: 100vh;
    margin: 50px auto;
}
.searchparam{
    margin: 50px 0 30px 0;
}
.searchinp{
    background: white ;
    border: none;
    font-size: 1.2vw;
    border-radius: 5px;
    margin: 0 20px 0 0;
    box-shadow: 8px 8px 5px #3f3f3f4f;
    padding: 10px 20px;   
}
.Locationinp, .roleinp{
    background: white ;
    border: none;
    margin: 0 20px 0 0;
    font-size: 1.2vw;
    border-radius: 5px;
    box-shadow: 8px 8px 5px #3f3f3f4f;
    width: 200px;
    padding: 10px 20px;
}
.databox{
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    background: #3F3F3F;
    margin: 40px 0;
    border-radius: 5px;
    padding: 10px 0;
}
.item {
    padding: 10px;
    color: white;
    /* background-color: lightgray; */
}
.shortlistbtn {
    width: 30%;
    margin: 0 auto;
    background-color: greenyellow ;
    color: #3F3F3F;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  .shortlistbtn:hover {
    background-color: #555555;
  }